{% extends 'layout.html.twig' %}

{% block content %}
    <div class="encounter container cont_encount">
        {% for encounter in encounters %}
            <div class="row fond_encount justify-content-around">
                <div class="col encounter ">
                    <div class="card text-center encounter_back" id="encounter-{{ encounter.id }}">
                        <div class="card-header calendar-head">
                            {{ encounter.match_date|date(" d / m / Y ") }}
                        </div>
                        <div class="card-body-encounter">
                            <div class="row justify-content-around">
                                <div class="col-5 col-md-3">
                                    <h5 class="card-title">Japon</h5>
                                    <img class="card-img-top flag" src="/assets//images/japanflag.jpg"
                                         alt="japanflag.jpg">
                                </div>
                                <div class="col-5 col-md-3">
                                    <h5 class="card-title">{{ encounter.team }}</h5>
                                    <img class="card-img-top flag" src="{{ encounter.flag }}" alt="Country flag">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer encounter_back mobile_score text-muted colencount">
                            <div class="row goal_encounter justify-content-between">
                                <div class="col-1">
                                    {% if date(encounter.match_date) < date() %}
                                        {% if session.admin is not empty %}
                                            <button type="button" class="btn btn-outline-dark add-goal"
                                                    data-id="{{ encounter.id }}">
                                                +
                                            </button>{% endif %}
                                    {% endif %}
                                </div>

                                <div class="col-12 col-md-4">
                                    {% if date(encounter.match_date) < date() and encounter.opponent_goal is not null %}
                                        <p class="goals">{{ encounter.goal }} - {{ encounter.opponent_goal }}</p>
                                    {% else %}
                                        <p class="goals"> - </p>
                                    {% endif %}
                                </div>

                                <div class="col-1">
                                    {% if date(encounter.match_date) < date() %}
                                        {% if session.admin is not empty %}
                                            <button type="button"
                                                    class="btn btn-outline-dark edit-ogoal"
                                                    data-id="{{ encounter.id }}">
                                                +
                                            </button>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row justify-content-around">
            <div class="col-8 col-md-3 btn_addmatch">

                {% if session.admin is not empty %}
                    <button type="button" class="btn btn-outline-dark btn-block "
                            data-toggle="modal" data-target="#addEncounter">Ajouter un match
                    </button>{% endif %}

            </div>
        </div>
    </div>
    {% include 'Encounter/_ogform.html.twig' %}
    {% include 'Encounter/_form.html.twig' %}
{% endblock %}
