{% extends 'layout.html.twig' %}

{% block content %}
    <div class="encounter container">
        {% for encounter in encounters %}
            <div class="row justify-content-around">
                <div class="col encounter">
                    <div class="card text-center" id="encounter-{{ encounter.id }}">
                        <div class="card-header calendar-head">
                            {{ encounter.match_date|date(" d / m / Y ") }}
                        </div>
                        <div class="card-body-encounter">
                            <div class="row justify-content-around">
                                <div class="col-5 col-md-3">
                                    <h5 class="card-title">Japon</h5>
                                    <img class="card-img-top flag" src="/assets//images/japanflag.jpg"
                                         alt="japanflag.jpg">
                                </div>
                                <div class="col-5 col-md-3">
                                    <h5 class="card-title">{{ encounter.team }}</h5>
                                    <img class="card-img-top flag" src="{{ encounter.flag }}" alt="Country flag">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer mobile_score text-muted">
                            <div class="row goal_encounter">
                                <div class="col-1">
                                    {% if date(encounter.match_date) < date() %}
                                        <button type="button" class="btn btn-outline-dark add-goal" data-id="{{ encounter.id }}">
                                            +
                                        </button>
                                    {% endif %}
                                </div>
                                <div class="col-3">

                                </div>
                                <div class="col-12 col-md-4">
                                    {% if date(encounter.match_date) < date() %}
                                        <p>{{ encounter.goal }} - {{ encounter.opponent_goal }}</p>
                                    {% else %}
                                        <p> - </p>
                                    {% endif %}
                                </div>
                                <div class="col-3">
                                </div>
                                <div class="col-1">
                                    {% if date(encounter.match_date) < date() %}
                                        <button type="button" class="btn btn-outline-dark edit-ogoal" data-id="{{ encounter.id }}">
                                            +
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row justify-content-around">
            <div class="col-8 col-md-3">
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#addEncounter">
                    Ajouter une rencontre
                </button>
            </div>
        </div>
    </div>
    {% include 'Encounter/_ogform.html.twig' %}
    {% include 'Encounter/_form.html.twig' %}
{% endblock %}
