{% extends 'layout.html.twig' %}

{% block content %}

    <body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 col-8">
                <img src="https://res.cloudinary.com/dnpr9xeop/image/upload/v1539193449/PROJET%202%20NEWTEAM/japon_reduit.png"
                     alt="logo_japan" class="logo_japan">
            </div>
            <div class="col-7 text-center">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-7 col-6 offset-2">
                        <img src="https://res.cloudinary.com/dnpr9xeop/image/upload/v1539193458/PROJET%202%20NEWTEAM/olive_reduit.png"
                             alt="logo_japan" class="player_img">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <table class="table table-striped table-dark">
                    <body>
                    <tr>
                        <div class="col md-1">
                            <th>Prénom</th>
                        </div>
                        <div class="col md-3"></div>
                        <th>{{ playerDetails.firstname }}</th>
                        <th>
                            <button type="button" class="btn btn-secondary btn-sm btn-block">Modifier</button>
                        </th>
                    </tr>
                    <tr>
                        <div class="col md-1">
                            <th>Nom</th>
                        </div>
                        <div class="col md-3"></div>
                        <th>{{ playerDetails.lastname }}</th>
                        <th>
                            <button type="button" class="btn btn-secondary btn-sm btn-block">Modifier</button>
                        </th>
                    </tr>
                    <tr>
                        <div class="col md-1">
                            <th>Date de naissance</th>
                        </div>
                        <div class="col md-3"></div>
                        <th>{{ playerDetails.birthdate|date(" d / m / Y ") }}</th>
                        <th>
                            <button type="button" class="btn btn-secondary btn-sm btn-block">Modifier</button>
                        </th>
                    </tr>
                    <tr>
                        <div class="col md-1">
                            <th>Taille</th>
                        </div>
                        <div class="col md-3"></div>
                        <th>{{ playerDetails.height }} m</th>
                        <th>
                            <button type="button" class="btn btn-secondary btn-sm btn-block">Modifier</button>
                        </th>
                    </tr>
                    <tr>
                        <div class="col md-1">
                            <th>Poids</th>
                        </div>
                        <div class="col md-3"></div>
                        <th>{{ playerDetails.weight }} kg</th>
                        <th>
                            <button type="button" class="btn btn-secondary btn-sm btn-block">Modifier</button>
                        </th>
                    </tr>
                    <tr>
                        <div class="col md-1">
                            <th>Poste</th>
                        </div>
                        <div class="col md-3"></div>
                        <th>{{ playerDetails.position }}</th>
                        <th>
                            <button type="button" class="btn btn-secondary btn-sm btn-block">Modifier</button>
                        </th>
                    </tr>
                    <tr>
                        <div class="col md-1">
                            <th>Numéro</th>
                        </div>
                        <div class="col md-3"></div>
                        <th>{{ playerDetails.number }}</th>
                        <th>
                            <button type="button" class="btn btn-secondary btn-sm btn-block">Modifier</button>
                        </th>
                    </tr>
                    </body>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-12">
                <form method ="GET">
                    <a href="/newteam/delete/{{playerDetails.id}}" class="btn
                        btn-outline-dark
                        btn-block text-center btn_del">Supprimer le joueur
                    </a>
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock %}

