{% extends 'layout.html.twig' %}

{% block content %}
    <h1>New Team</h1>
    <div class="container">
        <div class="row justify-content-around">
            {% for player in players %}
            <div class="col-1-md-3-lg-4 pd-4'>
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="https://res.cloudinary.com/dtpfajz6i/image/upload/c_scale,h_350,w_350/v1539248605/Olivier-Atton.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ player.lastname }} {{ player.firstname }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="/newteam/player/{{ player.id }}" class="btn btn-primary">Voir Statistiques</a>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

<h1>NewTeam</h1>
<ul>
    {% for player in players %}
    <li><a href="/Newteam/player/{{ player.id }}">{{ player.firstname }} {{ player.lastname }}</a></li>
    {% else %}
    <li>Nothing to display</li>
    {% endfor %}
</ul>
<a href="/Newteam/player/addPlayer">Ajouter</a>
{% endblock %}

